* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: #1e2227;
  color: white;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  position: fixed;
  top: 0;
  background: #1e2227;
  z-index: 1;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}

.nav-icons img {
  width: 25px;
  margin-left: 30px;
  cursor: pointer;
}
.nav-icons img:hover {
  transform: scale(1.1);
}
.row {
  height: 100%;
  width: 100%;
  display: flex;
}
.col-1,
.col-2 {
  flex-basis: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-2 {
  background: red;
  padding-top: 8%;
  position: relative;
}
.col-1 {
  padding-left: 8%;
}
.col-1 h1 {
  font-size: 74px;
  /* line-height: 100px; */
  margin-bottom: 5px;
}
.col-1 h2 {
  font-size: 35px;
  margin-top: 60px;
  font-weight: 500;
}
.col-1 h2:hover {
  padding-left: 5px;
}
button {
  width: fit-content;
  padding: 15px 30px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.1);
  background: white;
  color: red;
  font-weight: 800;
}
.feature-img {
  /* width: 100%; */
  text-align: center;
}
.feature-img img {
  width: 80%;
  transform: rotate(-20deg);
  z-index: 2;
}

.small-img-row {
  display: flex;
  width: 80%;
  margin: 70px auto 0;
  align-items: center;
  justify-content: space-around;
}
.small-img {
  width: 80px;
  height: 80px;
  background: white;
}
.small-img img {
  width: 120px;
  transform: translate(-50px, 20px) rotate(-20deg);
}

.small-img:nth-child(1) {
  background: #b9c8ff;
}
.small-img:nth-child(2) {
  background: #91ffdd;
}
.small-img:nth-child(3) {
  background: #ff6767;
}
.small-img:nth-child(4) {
  background: #9dff90;
}
.col-2 h2 {
  color: white;
  position: absolute;
  left: 10%;
  top: 22%;
  font-size: 130px;
  opacity: 0.3;
  z-index: 10;
}
